/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
	font-weight: 300;
	color: rgb(85, 85, 85);
	margin-bottom: 15px;
	text-align: justify;
  	text-justify: auto;
}

div.emphasis-title.bottommargin-sm h2 {
	font-size: 30px;
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
	
}
span.before-heading {
	font-size: 13px;
	color: #F8931F;
	text-transform: uppercase;
	font-family: 'Istok Web', sans-serif;
}
#modified-list div.mt-md-3 {
	padding-left: 25%;
}
#middle-container {
	margin-bottom: 5%;
}

footer.color {
	font-size: 0.7em;
	color: #F8931F;
	text-transform: uppercase;
	font-family: 'Istok Web', sans-serif;
}

#client-carousel {
	margin-top:5%;
	margin-bottom: 10%;
}
#app-features {
	margin-top: 5% !important ;
	margin-bottom: 10% !important;
}
div#about-us.container.clearfix {
	margin-bottom: 5%!important;
}
img.heading-icon {
	position: relative;
	left: 46%;
}

div#oc-clients{
	margin-bottom: 5%!important;
}

section#content{
	z-index: 30;
	margin-top: -5%;
}
/* Floating Contact
-----------------------------------------------------------------*/
.floating-contact-wrap {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	right: 3px;
    bottom: 55px;
	z-index: 299;
	position: fixed;
}

	.floating-contact-wrap .floating-contact-btn {
		margin: 5px;
		left: 0;
		top: 0;
		width: 42px;
		height: 42px;
		border-radius: 8px;
		background-color: #043249;
		/* color: #043249; */
		cursor: pointer;
		z-index: 3;
		/* color: #043249; */
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		transition: transform .3s ease;
	
}

.floating-contact-wrap .floating-contact-btn:hover,
.floating-contact-wrap.active .floating-contact-btn {
	-webkit-transform: translate(-50%, -50%) scale(1.1);
	transform: translate(-50%, -50%) scale(1.1);
	background-color: #c2bcb971;
	color: #043249 !important;
	/* color: #3efff5 !important; */
}

.floating-contact-wrap .floating-contact-btn .floating-contact-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 22px;
    -webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
}

.floating-contact-wrap .floating-contact-btn .floating-contact-icon.btn-active,
.floating-contact-wrap.active .floating-contact-btn .floating-contact-icon {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #043249 !important;
}

.floating-contact-wrap.active .floating-contact-btn .floating-contact-icon.btn-active {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
	color: #043249 !important;
}

.floating-contact-wrap .floating-contact-box {
	opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 380px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 1;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.07);
    -webkit-transform: scale(.01);
    transform: scale(.01);
     -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -webkit-backface-visibility: hidden;
}

.floating-contact-wrap.active .floating-contact-box {
	opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);
}

.floating-contact-wrap .css3-spinner { background-color: rgba(255, 255, 255, 0.8) }

.floating-contact-wrap form { padding: 35px 30px; }

#floating-contact-submitted,
.floating-contact-success #floating-contact,
.floating-contact-success .floating-contact-heading,
body:not(.floating-contact-processing) .floating-contact-loader { display: none; }

.floating-contact-success #floating-contact-submitted { display: block; }


@media (max-width:1000px){
	div#ContactoSention p {
		text-align: center;
	}

	div#contact-form {
		align-content: center ;
	}
}


@media (max-width:990px){
	.d-sm-none {
		display: none !important;
	}
}


@media (max-width: 767.98px) {
	div.emphasis-title.bottommargin-sm h2  {
		font-size: 26px !important;
	}
	.swiper-container-horizontal > .swiper-scrollbar {
		bottom: 140px;
		right: 30px;
		width: 140px;
	}

	.swiper-navs {
		bottom: 100px;
		right: 168px;
	}

	.floating-contact-wrap .floating-contact-box { width: 330px; }

	.d-sm-none {
		display: none !important;

}

	div#mission-img {
		width: 90% !important;
		height: auto!important;
		position: relative;
		left: 5%;
		
	}
	div.nosotros{
		margin-top:3em!important;
	}

	section#content div#services {
		margin-top:1.5em !important;
	}
}


/* Media Queries */

@media (min-width: 768px){

	.col-md-12 {
		margin-top: 1%;
		margin-bottom: 2%;
    
	}
	#middle-container {
		padding: 0 5% 2.5% 5%;
	}
	#about-us {
		padding: 0 5% 2.5% 5% !important;
	}
	#about-us div.nosotros {
		padding-left: 0!important;

	}

	.d-sm-none {
	display: none !important;
	}

}

@media (min-width: 320px){

 #about-us div.nosotros {
	padding-left: 15px!important;
	padding-right: 15px;
}
.d-sm-none {
	display: none !important;

}
}
